<!-- START BLOG SECTION -->
            <div class="section blog-section" id="blog">
                <div class="container">
                    <div class="row">
                        <div class="title-section">
                            <h1>OUR <span>B</span>LOG</h1>
                        </div>
                    </div>
                    <div class="row">
                     <% @posts.each do |post| %>
                        <div class="col-md-4">
                            <div class="blog-item wow fadeInDown animated" data-wow-delay="0.2s">
                                <%= link_to post_path(post) do %>
                                   <%= image_tag post.photo.url(:thumb) %>
                                <% end %>

                                <div class="blog-caption">
                                    <div class="title">
                                        <div class="meta">
                                            <i class="pe-7s-pin"></i>
                                        </div>
                                        <h3><%= post.title %></h3>
                                    </div>
                                    <div class="caption">
                                        <div class="date-meta">
                                            <div class="date-box">
                                                <i class="pe-7s-note2"></i>
                                            </div>
                                            <div class="date-box">
                                                <p><%= post.updated_at.strftime("%b") %></p>
                                                <span><%= post.updated_at.strftime("%d") %></span>
                                            </div>
                                        </div>
                                        <p>
                                            <% if post.body != nil %>
                                              <% post_short = truncate(post.body, length: 150, separatot: ' ', omission: '...(continued)').to_s %>
                                              <%= post_short %>
                                            <% else %>
                                              <center><p>No description available!</p><BR>...</center>
                                            <% end %>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- END OF /. BLOG ITEM -->
                        </div><!-- END OF /. COLUMN -->
                        <% end %>

                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
                        <div class="col-md-12">
                            <div class="load-more">
                                <%= link_to "BLOG", blog_path, class: "pori-btn" %>
                            </div>
                        </div>
            </div><!-- END OF /. BLOG SECTION -->

                        