<!-- START CONTACT SECTION -->
            <div class="section contact-section" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="title-section white-title">
                            <h1>GET I<span>N T</span> OUCH</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.2s">
                            <div class="contact-content left-content">
                                <div class="logo-title">
                                    <h1>K<span>l</span>asik</h1>
                                </div>
                                <h3>We'd love To Meet You In Person Or Via The Web!</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna, luctus ut vestibulum necs et, vulputate quis urna. Donec at commodo erat.</p>
                                <div class="contact-info">
                                    <p><b>Phone:</b> 1.555.555.5555</p>
                                    <p><b>Main Office:</b> 123 Elm St. New York City, NY </p>
                                    <p><b>Email:</b> info@yourdomain.com</p>
                                </div>
                                <div class="footer-social-media">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                    </ul>
                                </div><!-- END OF /. SOCIAL MEDIA -->
                            </div>
                        </div><!-- END OF / COLUMN -->
                        <div class="col-md-6 wow fadeInRight animated" data-wow-delay="0.2s">
                            
                            <%= form_for @email, :url => url_for(:controller => 'emails', :action => 'create'), method: :post, remote: true do |f| %>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <%= f.label :name %><BR>
                                            <%= f.text_field :name %>
                                        </div>
                                    </div>

                                  <div class="col-md-6">
                                        <div class="form-group">
                                            <%= f.label :email %><BR>
                                            <%= f.text_field :email %>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <%= f.label :subject %><BR>
                                            <%= f.text_field :subject %>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <%= f.label :website %><BR>
                                            <%= f.text_field :website %>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <%= f.label "Addictional information" %><BR>
                                            <%= f.text_area :comment %>
                                        </div>
                                    </div>
                                </div>

                                  <div class="actions">
                                    <%= f.submit %>
                                  </div>
                            <% end %>

                            <div id="message"></div>
                        </div><!-- END OF /. COLUMN -->
                    </div><!-- END OF /. ROW -->
                </div><!-- END OF /. CONTAINER -->
            </div><!-- END OF /. CONTACT SECTION -->