<%= form_for @call,:url => url_for(:controller => 'calls', :action => 'create'), method: :post, remote: true do |f| %>

  <div class="field">
    <%= f.label :full_name %><BR>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><BR>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label "Addictional information, if needed" %><BR>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>