<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @few_days_meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @few_days_meeting.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @few_days_meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @few_days_meeting.end_time %>
</p>

<% if user_signed_in? %>

<%= link_to 'Follow', follow_path(@few_days_meeting) %>

<% else %>
<%= link_to 'Login', new_user_session_path %> or <%= link_to 'Register', new_user_registration_path %>
<% end %>

<BR>
<%= link_to 'Edit', edit_few_days_meeting_path(@few_days_meeting) %> |
<%= link_to 'Back', few_days_meetings_path %>
