
 <%= render 'parts/preloader' %> 
 <%= render 'parts/header_top' %>
 <%= render 'parts/header_not_main' %>

            <!-- START TITLE SECTION -->
            <section class="section blog-title-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-contnet">
                                <h2>EVENTS</h2>
                                <ol class="breadcrumb">
                                  <li><%= link_to 'HOME', root_path %></li>
                                  <li class="active">EVENTS</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- START BLOG CONTAINER SECTION -->
            <section class="section blog-container blog-post">
                <div class="container">
                    <div class="row">
                        
                        <div class="title-section black-title">
                            <h1>LIS<span>T OF</span> EVENTS</h1>
                        </div>

						<%= render 'few_days_meetings/index' %>
						<BR>
						
						<div class="title-section black-title">
                            <h1>EVE<span>TNS CAL</span>ENDAR</h1>
                        </div>

							<%= month_calendar partial: 'simple_calendar/month_calendar', events: @few_days_meetings do |date,meetings| %>
							<%= date %>
							<% meetings.each do |meeting| %>
							    <div>

							      <%= link_to "#{meeting.name}", meeting %>
							    </div>
							  <% end %>
							<% end %>
                          

                        <!-- END OF BLOG CONTENT -->

                    </div><!-- END OF /. ROW -->
                </div><!-- END /. CONTAINER -->
            </section><!-- END OF /. BLOG CONTAINRE -->

<%= render 'parts/footer' %>